

@media (min-width: 1000px){
    .column{width: 100%;
    }}
html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-color: #e7e7e7;
  }

div {margin: auto;
    flex:1 960px}
  
  /* || typography */
  

  main{
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
  }
  
  header h1 {
    font-size: 4rem;
    text-align: left;
  }
  
  section h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
    text-align: center;
  }
  section h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: left;
  }
  section li {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  
  /* || header layout */
  
  header {
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
    color:#f1f1f1;
  }
  

header  {
    background-color: rgba(32, 80, 99, 0.822);
    padding: 1%;
  }
  
  article, section{background-color: rgb(252, 252, 252);
    padding: 1%;}

aside p {background-color: rgb(252, 252, 252);
    padding: 1%;}
  
  h1 {
    flex: 5;
    text-transform: uppercase;
  }
  
  header img {
    display: block;
    height: 80px;
    padding-top: 20.15px;
  }
  
  
  /* || main layout */
  
  main {
    display: flex;

  }

  header{order:1;}
  
  article, section {
    flex: 2;
    order: 3;

  }
  
  aside {
    order:2;
    flex: 1;
    margin-left: 10px;
    padding: 1%;
  }
  
  aside a {
    display: block;
    width: 100%;
  }
  
  aside img {
    max-width: 100%;
    border-radius: 4px;
    border: 1px solid #2142ad;
  }
